.style{
 width:100%;
 margin: -5px 0 0 0;
 }

table {
    border-collapse: collapse;
    border-width:1px;
    border-color: #ddd;
}

td, th {
    font-size: 11px;
    line-height: 15px;
    border: 1px solid #ddd;
    vertical-align: middle;
    text-align: center;
    padding: 5px;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
}

td a:link {
    text-decoration:underline;
}
th {
    text-align: center;
    font-weight: bold;
}

tr:hover {
    background-color:#BDC7DE;
}

thead th {
    color: #666;
    padding: 2px 5px;
    font-size: 11px;
    background: #e1e1e1 url(../img/nav-bg.gif) top left repeat-x;
    border: 1px solid #ddd;
}

/* PAGINATOR */

.paginator {
    font-size: 11px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 22px;
    margin-top: 0px;
    border-top: 1px solid #ddd;
}

.paginator a:link, .paginator a:visited {
    padding: 2px 6px;
    border: solid 1px #ccc;
    background: white;
    text-decoration: none;
}

.paginator a.showall {
    padding: 0 !important;
    border: none !important;
}

.paginator a.showall:hover {
    color: #036 !important;
    background: transparent !important;
}

.paginator .end {
    border-width: 2px !important;
    margin-right: 6px;
}

.paginator .this-page {
    padding: 2px 6px;
    font-weight: bold;
    font-size: 13px;
    vertical-align: top;
}

.paginator a:hover {
    color: white;
    background: #5b80b2;
    border-color: #036;
}

/* TOOLBAR */

#toolbar {
    padding: 3px;
    border-bottom: 1px solid #ddd;
    background: #e1e1e1 url(../img/nav-bg.gif) top left repeat-x;
    color: #666;
}

#toolbar form input {
    font-size: 11px;
    padding: 1px 2px;
}

#toolbar form #searchbar {
    padding: 2px;
}

#toolbar img {
    vertical-align: middle;
}


